* {
    font-family: Roboto, "Times New Roman", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    flex-direction: row;
}

.nav-links {
    flex-direction: row;
}

.hero-section{
    flex-direction: row;
}

.hero-left {

}

.hero-right{

}

.random-information-section{

}

.quote-section {

}

.call-to-action-section {

}