* {
    font-family: Roboto, "Times New Roman", sans-serif;
    display: flex;
    flex-direction: column;
}

.hero-section{

}

.random-information-section{

}

.quote-section {

}

.call-to-action-section {
    
}