* {
    font-family: Roboto, "Times New Roman", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    flex-direction: row;
    background-color: #1F2937;
}

.nav-links {
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-section{
    flex-direction: row;
    background-color: #1F2937;
    padding: 100px;
}

.hero-left {
    flex: 1, 1, auto;
    width: 400px;
}

.hero-right{
    flex: 1, 1, auto;
    width: 400px;
    background-color: chartreuse;                  /*  DEBUGGING */
}

#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.random-information-section{
    padding: 100px;
}

.random-info-header {
    align-items: center;
}

.random-info-header-text {
    font-size: 48px;
    font-weight: 900;
    color: #1F2937;
}

.random-info-box-layout{
    flex-direction: row;
    justify-content: center;
}

.random-info-box {
    width: 80px;
    height: 80px;
    border: 2px solid blue;
    border-radius: 10%;
    padding: 50px;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 5px;
}

.random-info-subtext {
    margin-left: 10px;
    margin-right:10px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
}

#quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.call-to-action-section {
    flex-direction: row;
}

.call-to-action-right {

}

.call-to-action-right {

}

.call-to-action-button{
    background-color: #3882F6;
    width: 100px;
    height: 25px;
    padding: 15px;
    border-color: #E5E7EB;
    color: #E5E7EB;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}

footer {
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.dark-color {
    background-color: #1F2937;
}

.gray-color {
    background-color: #E5E7EB;
}

